*   {
    padding:0;
    margin:0;
    }

.carousel-item {height:200px;}

.card-group {margin-top: 2em;}

.accordion {width: 70%; margin-left: 15%; margin-top: 2em;}

.alert {width: 50%;}

.alert-primary, .alert-success, .alert-warning {margin-left: 50%;}

.cadastro {text-align: center;}
